{% extends "offnav.html" %}

{% block content %}


<h1 class="display-2 mt-5 text-center">Welcome to the Product lissst</h1>

<div class="row row-cols-1 row-cols-md-4 g-4 ml-3">
{% for each in data_sr %}
<div class="conatainer ">
<div class="card  mt-5 mb-3" style="width:280px;">
  <a href="#">
  <img src="{{ each.image.url }}" class="card-img-top">
  </a>
  <div class="card-body">
    
    <h5 class="diaplay-4 text-dark">{{ each.name }}</h5>
    
    <div class="row">
    <div class="col-md-8"><p class="lead">Rs:{{ each.price}}</p></div>

    <div class="col-md-4">
    
      <a href="{% url 'products:update' each.pk %}"><span class="material-icons" style="color:black;">
        edit
        </span></a>
      <a href="{% url 'products:delete' each.pk %}"><span class="material-icons" style="color:black;">
        delete
        </span></a>
    
    </div>
    </div>

    


    

    
    
   
  </div>
</div>
</div>
{% endfor %}
</div>

{% endblock %}





